._my_container_boxes{
	padding: 0 1px !important;
	margin: 0 auto !important;
}

._my_contentbox{
	background: #fff !important;
    padding: 3px 5px !important;
    border: 1px solid #e7e7e7 !important;
    border-radius: 5px !important;
    margin-bottom: 2px !important;
    padding-bottom: 5px !important;
    height: 170px !important;
    width: 350px !important;
    margin: 8px !important;
}

._my_boxtopo{
	padding: 0 0 0 0 !important;
    border-bottom: solid 1px #f1f1f1 !important;
    color: #004C94;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 16px !important;
	font-weight: bold !important;
    line-height: 20px !important;
    height: 30px !important;
    margin: 0 auto !important;
}

._my_box_conteudo{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	color: #004C94 !important;
	font-size: 14px !important;
    line-height: 1.3 !important;
    margin-top: 0 !important;
    height: 100px !important;
    border-bottom: solid 1px #f1f1f1 !important;
    margin: 5px auto !important;
}

._my_boxfooter{
	text-align: right !important;
	height: 50px !important;
	margin: 0 auto !important;
	padding: 0 0 0 0 !important;
}

._my_boxfooter2{
	text-align: right !important;
	height: 50px !important;
	padding: 20px 0 !important;
	margin: 0 auto !important;
}
